<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!-- 配置mybatis运行环境 -->
    <environments default="development">
        <environment id="development">
            <!-- 配置jdbc事务管理 -->
            <transactionManager type="JDBC"></transactionManager>
            <!-- POOLED配置JDBC数据源连接池 -->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/mybatis?useUnicode=true&amp;characterEncoding=UTF-8"/>
                <property name="username" value="root"/>
                <property name="password" value="123456789"/>
            </dataSource>
        </environment>
    </environments>

    <!-- 注册AccountMapper.xml -->
    <mappers>
        <mapper resource="com/zt/mapper/AccountMapper.xml"></mapper>
        <mapper resource="com/zt/repository/AccountRepository.xml"></mapper>
        <mapper resource="com/zt/repository/StudentRepository.xml"></mapper>
        <mapper resource="com/zt/repository/ClassesRepository.xml"></mapper>
        <mapper resource="com/zt/repository/CustomerRepository.xml"></mapper>
        <mapper resource="com/zt/repository/GoodsRepository.xml"></mapper>
        <!-- mbg生成的xml -->
        <mapper resource="com/mbg/repository/UserMapper.xml"></mapper>
    </mappers>
</configuration>